<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>캠핑가자</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" th:href="@{/vendor/nouislider/nouislider.css}">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700}">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700}">
    <!-- swiper-->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css}">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" th:href="@{/vendor/magnific-popup/magnific-popup.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  	    
    <!-- jQuery-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
    <!-- Smooth scroll-->
    <script th:src="@{/vendor/smooth-scroll/smooth-scroll.polyfills.min.js}"></script>
    <!-- Bootstrap Select-->
    <script th:src="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script th:src="@{/vendor/object-fit-images/ofi.min.js}"></script>
    <!-- Swiper Carousel                       -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js}"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script th:src="@{/js/theme.js}"></script>
    <!-- Dropzone.js-->
    <script th:src="@{/vendor/dropzone/dropzone.js}"></script>
    <!-- Dropzone Init-->
    <!-- Price Slider-->
    <script th:src="@{/vendor/nouislider/nouislider.min.js}"></script>
    <!-- Daterange picker-->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js}"> </script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.19.0/jquery.daterangepicker.min.js}"> </script>
    <script th:src="@{/js/datepicker-category.js}"> </script>
    
  </head>
  <body style="padding-top: 72px;">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{common/header :: headerFragment}"></th:block>
    <!-- 헤더 끝 -->
    
    <div class="progress rounded-0 sticky-top" style="height: 8px; top: 72px;">
      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    
    <section class="py-5">
    <form th:action="@{/review/camping-reviewedit}" method="POST" enctype="multipart/form-data">
      <div class="container">
        <p class="subtitle text-primary">당신의 이야기를 들려주세요</p>
        <h1 class="h2" th:text="${'캠핑 후기 작성  - ' + camp.cname}"></h1>
        <p class="text-muted text-sm mb-5" th:text="${site.sitecompany}"></p>
        <div class="row form-block">
          <div class="col-lg-4">
            <h4>사진 업로드</h4>
            <p class="text-muted text-sm">캠핑 사진을 공유하세요</p>
          </div>
					<div class="col-lg-7 ms-auto">
						<div class="mb-4">
							<!-- 파일 업로드 -->
							<div class="dropzone" id="demo-upload" action="#">
								<div class="dz-message text-muted">
									<p>사진 드래그하거나 여기를 클릭해서 업로드하세요</p>
								</div>
							</div>
							<div class="d-none" id="dropzoneTemplate">
								<div class="dz-preview dz-file-preview">
									<div class="dz-image">
										<img data-dz-thumbnail="" alt=""
											th:src="@{/img/logo-square.svg}">
									</div>
									<div class="dz-details">
										<div class="dz-filename">
											<span data-dz-name=""></span>
										</div>
										<div class="dz-size" data-dz-size=""></div>
									</div>
									<div class="dz-progress">
										<span class="dz-upload" data-dz-uploadprogress=""></span>
									</div>
									<div class="dz-success-mark">
										<span class="dz-icon"><i class="fa-check fa"></i></span>
									</div>
									<div class="dz-error-mark">
										<span class="dz-icon"><i class="fa-times fa"></i></span>
									</div>
									<div class="dz-error-message">
										<span data-dz-errormessage=""></span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="text-block">
          <label class="form-label" for="form_search">후기제목</label>
          <div class="input-label-absolute input-label-absolute-right mb-4">
            <input class="form-control pe-4" type="search" name="crname" id="crname" placeholder="제목">
          </div>
          <label class="form-label" for="form_search">후기내용</label>
          <div class="input-label-absolute input-label-absolute-right mb-4">
            <textarea class="form-control border-0 p-4 bg-light text-sm" name="crcontent" id="crcontent" placeholder="내용"></textarea>
          </div>
        </div>

		<div class="col-xl-4 col-md-6 mb-4">
			<label class="form-label">별점</label>
			<div class="text-primary" id="slider-snap"></div>
			<div class="nouislider-values">
				<div class="min">
					★ <span id="slider-snap-value-from"></span>
				</div>
				<div class="max">
					최대 5 ★<span id="slider-snap-value-to"></span>
				</div>
			</div>
			<input type="hidden" name="crrating" id="crrating" value="0"> 
		</div>
		
		
		<input type="hidden" name="cid" id="cid" th:value="${camp.cid}">
		<input type="hidden" name="siteid" id="siteid" th:value="${site.siteid}">

		<div class="row form-block flex-column flex-sm-row">
          <div class="col text-center text-sm-start"><a class="btn btn-link text-muted" th:href="@{/camping/camping-single(cid=${camp.cid}, siteid=${site.siteid})}"> 
          	<i class="fa-chevron-left fa me-2"></i>뒤로가기</a>
          </div>
          <th:block th:if="${session.loginMember!=null}">
	          <div class="col text-center text-sm-end">
	          	<button id="btn-upload" class="btn btn-primary px-3" type="submit"><i class="fa fa-pen-fancy me-2"></i>제출하기 </button>
	          </div>
          </th:block>
          
          <div class="col text-center text-sm-end" th:if="${session.loginMember==null}">
          	<a class="btn btn-primary px-3" href="user-add-5.html">로그인 세션이 만료. 다시 로그인 해주세요<i class="fa-chevron-right fa ms-2"></i>
          	</a>
          </div>
        </div>
        </div>
      </div>
      </form>
    </section>
	  <!-- 푸터-->
	    <th:block th:replace="~{common/footer :: footerFragment}"></th:block>
	  <!--푸터-->
    <!-- JavaScript files
    		params: {'param_1':[[${camp.cid}]]},
    -->
    <script>
      Dropzone.autoDiscover = false;
      $("#demo-upload").dropzone({
        url: '/review/camping-reviewedit', // 파일 업로드할 url
		method: "post",
		autoProcessQueue: false,
		parallelUploads: 5,
        paramName: 'file',
		params: () => ({
			'cid':[[${camp.cid}]], 
			'siteid':[[${site.siteid}]],
			'crname': document.querySelector('#crname').value,
			'crcontent': document.querySelector('#crcontent').value,
			'crrating': document.querySelector('#crrating').value,
		}),
		clickable: true,
		acceptedFiles: '.jpeg,.jpg,.png,.gif,.JPEG,.JPG,.PNG,.GIF',
		addRemoveLinks: true, // 업로드 후 파일 삭제버튼 표시 여부
		dictRemoveFile: '삭제', // 삭제버튼 표시 텍스트
		uploadMultiple: true,
		init: function () {
		    var submitButton = document.querySelector("#btn-upload");
		    var myDropzone = this;
		    submitButton.addEventListener("click", function () {
		        console.log("업로드");
		        
		        if (myDropzone.getRejectedFiles().length > 0) {
		            let files = myDropzone.getRejectedFiles();
		            console.log('거부된 파일이 있습니다.', files);
		            return;
		         }
		        
		        myDropzone.processQueue();
		    });

		      // 서버로 파일이 성공적으로 전송되면 실행
		      this.on('success', function (file, responseText) {
		    	  console.log('성공');
		      });
			},
		});
	</script>
	
	<!-- Smooth scroll-->
    <script>
      var nonLinearSlider = document.getElementById('slider-snap');
      
      noUiSlider.create(nonLinearSlider, {
          start: [0],
          step: 0.1,
          range: {
              'min': 0,
              'max': 5
          }
      });
      var snapValues = [
          document.getElementById('slider-snap-value-from'),
      ];
      var inputValues = [
          document.getElementById('crrating'),
      ];
      nonLinearSlider.noUiSlider.on('update', function( values, handle ) {
          snapValues[handle].innerHTML = values[handle];
          inputValues[handle].value = values[handle];
      })
    </script>
    
    
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      </script>

  </body>
</html>