<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>캠핑가자</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" th:href="@{/vendor/nouislider/nouislider.css}">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700}">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700}">
    <!-- swiper-->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css}">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" th:href="@{/vendor/magnific-popup/magnific-popup.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  	<!-- jQuery-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
    <!-- Smooth scroll-->
    <script th:src="@{/vendor/smooth-scroll/smooth-scroll.polyfills.min.js}"></script>
    <!-- Bootstrap Select-->
    <script th:src="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script th:src="@{/vendor/object-fit-images/ofi.min.js}"></script>
    <!-- Swiper Carousel                       -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js}"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script th:src="@{/js/theme.js}"></script>
    <!-- Dropzone.js-->
    <script th:src="@{/vendor/dropzone/dropzone.js}"></script>
    <!-- Dropzone Init-->
  </head>
  <body style="padding-top: 72px;">
    <!-- 헤더 시작 -->
    <th:block th:replace="~{common/header :: headerFragment}"></th:block>
    <!-- 헤더 끝 -->
    <section class="py-5">
      <div class="container">
        <h1 class="hero-heading mb-0">개인정보</h1>
        <p class="text-muted mb-5">개인 정보와 설정을 수정하세요</p>
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="text-block"> 
              <div class="row mb-3">
                <div class="col-sm-9">
                  <h5>개인정보수정</h5>
                </div>
                <div class="col-sm-3 text-end">
                  <button class="btn btn-link ps-0 text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">수정하기</button>
                </div>
              </div>
              	<i class="fa fa-id-card fa-fw me-2 inline-div"></i>
              	<p class="text-sm text-muted inline-div" th:text="${user.username}"></p><br>
              	<i class="fa fa-birthday-cake fa-fw me-2 inline-div"></i><p class="text-sm text-muted inline-div" th:text="${user.usercreated}"></p><br>
                <i class="fa fa-phone fa-fw me-2 inline-div"></i><p class="text-sm text-muted inline-div" th:text="${user.userphone}"></p></p>
              <div class="collapse" id="personalDetails">
                <form action="#">
                  <div class="row pt-4">
                    <div class="mb-4 col-md-6">
                      <label class="form-label" for="name">닉네임</label>
                      <input class="form-control" type="text" name="name" id="name" th:value="${user.username}">
                    </div>
                    <div class="mb-4 col-md-6">
                      <label class="form-label" for="phone">전화번호</label>
                      <input class="form-control" type="text" name="phone" id="phone" th:value="${user.userphone}">
                    </div>

                    <div class="text-center"><a class="d-inline-block" href="#">
                      <img class="d-block avatar avatar-xxl p-2 mb-2 dropzone" th:src="@{${user.userimage}}" alt="" action="/upload">
                      <h5>양병학</h5></a>
                    </div>
                  </div>
                  <button class="btn btn-outline-primary mb-4" type="submit">개인정보 저장하기</button>
                </form>
              </div>
            </div>

            <div class="text-block"> 
              <h3 class="mb-4">로그인</h3>
              <div class="row">
                <div class="col-sm-8">
                  <h6>비밀번호</h6>
                </div>
                <div class="col text-end">
                  <button class="btn btn-link ps-0 text-primary collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#updatePassword" aria-expanded="false" aria-controls="updatePassword">수정하기</button>
                </div>
              </div>
              <div class="collapse" id="updatePassword">
                <div class="row mt-4">
                  <div class="mb-4 col-12">
                    <label class="form-label" for="password-current">현재 비밀번호</label>
                    <input class="form-control" type="password" name="password-current" id="password-current">
                  </div>
                  <div class="mb-4 col-md-6">
                    <label class="form-label" for="password-new">새 비밀번호</label>
                    <input class="form-control" type="password" name="password-new" id="password-new">
                  </div>
                  <div class="mb-4 col-md-6">
                    <label class="form-label" for="password-confirm">새 비밀번호 확인</label>
                    <input class="form-control" type="password" name="password-confirm" id="password-confirm">
                  </div>
                </div>
                <button class="btn btn-outline-primary">비밀번호 변경하기</button>
              </div>
            </div>

            <div class="text-block"> 
              <h3 class="mb-4">소셜계정</h3>
              <div class="row">
                <div class="col-sm-8">
                  <h6>Google</h6>
                  <p class="text-sm text-muted">연결 안됨</p>
                </div>
                <div class="col text-end"><a class="btn btn-link text-primary ps-0" href="#">연결하기</a></div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <h6>카카오톡</h6>
                  <p class="text-sm">연결됨</p>
                </div>
                <div class="col text-end"><a class="btn btn-link text-primary ps-0" href="#">연결끊기</a></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <footer class="position-relative z-index-10 d-print-none">
      <!-- Main block - menus, subscribe form-->
      <div class="py-6 bg-gray-200 text-muted"> 
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <div class="fw-bold text-uppercase text-dark mb-3">Directory</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank" title="facebook"><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                <li class="list-inline-item"><a class="text-muted text-primary-hover" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3">Rentals</h6>
              <ul class="list-unstyled">
                <li><a class="text-muted" href="index.html">Rooms</a></li>
                <li><a class="text-muted" href="category-rooms.html">Map on top</a></li>
                <li><a class="text-muted" href="category-2-rooms.html">Side map</a></li>
                <li><a class="text-muted" href="category-3-rooms.html">No map</a></li>
                <li><a class="text-muted" href="detail-rooms.html">Room detail</a></li>
              </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
              <h6 class="text-uppercase text-dark mb-3">Pages</h6>
              <ul class="list-unstyled">
                <li><a class="text-muted" href="compare.html">Comparison                                   </a></li>
                <li><a class="text-muted" href="team.html">Team                                   </a></li>
                <li><a class="text-muted" href="contact.html">Contact                                   </a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h6 class="text-uppercase text-dark mb-3">Daily Offers & Discounts</h6>
              <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
              <form action="#" id="newsletter-form">
                <div class="input-group mb-3">
                  <input class="form-control bg-transparent border-dark border-end-0" type="email" placeholder="Your Email Address" aria-label="Your Email Address">
                  <button class="btn btn-outline-dark border-start-0" type="submit"> <i class="fa fa-paper-plane text-lg"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Copyright section of the footer-->
      <div class="py-4 fw-light bg-gray-800 text-gray-300">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
              <p class="text-sm mb-md-0">&copy; 2021, Your company.  All rights reserved.</p>
            </div>
            <div class="col-md-6">
              <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-end">
                <li class="list-inline-item"><img class="w-2rem" src="img/visa.svg" alt="..."></li>
                <li class="list-inline-item"><img class="w-2rem" src="img/mastercard.svg" alt="..."></li>
                <li class="list-inline-item"><img class="w-2rem" src="img/paypal.svg" alt="..."></li>
                <li class="list-inline-item"><img class="w-2rem" src="img/western-union.svg" alt="..."></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>

  </body>
</html>