<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>캠핑가자</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Price Slider Stylesheets -->
    <link rel="stylesheet" th:href="@{/vendor/nouislider/nouislider.css}">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700}">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700}">
    <!-- swiper-->
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css}">
    <!-- Magnigic Popup-->
    <link rel="stylesheet" th:href="@{/vendor/magnific-popup/magnific-popup.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/img/favicon.png}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
  	<!-- jQuery-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script th:src="@{/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>
    <!-- Smooth scroll-->
    <script th:src="@{/vendor/smooth-scroll/smooth-scroll.polyfills.min.js}"></script>
    <!-- Bootstrap Select-->
    <script th:src="@{/vendor/bootstrap-select/js/bootstrap-select.min.js}"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script th:src="@{/vendor/object-fit-images/ofi.min.js}"></script>
    <!-- Swiper Carousel                       -->
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js}"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script th:src="@{/js/theme.js}"></script>
  </head>
  <body style="padding-top: 72px;">
    <!-- 헤더 시작 -->
    <th:block th:replace="common/header :: headerFragment"></th:block>
    <!-- 헤더 끝 -->
    
    <section class="hero-home">
      <div class="swiper-container hero-slider">
        <!--히어로이미지-->
        <div class="swiper-wrapper dark-overlay">
          <div class="swiper-slide" style="background-image:url(img/photo/photo-1501621965065-c6e1cf6b53e2.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/photo/photo-1519974719765-e6559eac2575.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/photo/photo-1490578474895-699cd4e2cf59.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(img/photo/photo-1534850336045-c6c6d287f89e.jpg)"></div>
        </div>
      </div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-center text-lg-start">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">즐거운 캠핑을 찾아서</p>
              <h1 class="display-3 fw-bold text-shadow">캠핑가자</h1>
            </div>
            <div class="search-bar mt-5 p-3 p-lg-1 ps-lg-4">
              <form name="sort" id="sort" th:action="@{/camping/camping-list}" method="get">
                <div class="row">
                  <div class="col-lg-7 d-flex align-items-center form-group">
                    <input class="form-control border-0 shadow-0" type="text" id="searchValue" name="searchValue" placeholder="캠핑 이름 검색">
                  </div>

                  <div class="col-lg-3 d-flex align-items-center form-group no-divider">
                    <select class="selectpicker" id="sortBy" name="sortBy" title="캠핑 종류" data-style="btn-form-control">
                      <option value="0">전체</option>
                      <option value="1">오토캠핑</option>
                      <option value="2">백패킹</option>
                      <option value="3">차박캠핑</option>
                      <option value="4">미니멀캠핑</option>
                      <option value="5">글램핑</option>
                    </select>
                  </div>
                  <div class="col-lg-2 d-grid">
                    <button class="btn btn-primary rounded-pill h-100" type="submit">검색 </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-6">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-primary">오늘은 여기가 우리집</p>
            <h2>추천 캠핑</h2>
          </div>
        <div class="swiper-container guides-slider mx-n2 pt-3">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper pb-5">
            <!-- Slides-->
            <div class="swiper-slide h-auto px-2" th:each="campinglist : ${camp}">
              <div class="card card-poster gradient-overlay hover-animate mb-4 mb-lg-0">
              	<a class="tile-link" th:href="@{/camping/camping-single(cid=${campinglist.cid}, siteid=${campinglist.siteid})}"></a>
              		<th:block th:if="${campinglist.cpm == null}">
              			<img class="bg-image" th:src="@{/img/temp.jpg}">
              		</th:block>
              		<th:block th:if="${campinglist.cpm != null}">
              			<img class="bg-image" th:src="@{${campinglist.cpm}}">
              		</th:block>
              		
                <div class="card-body overlay-content">
                  <h6 class="card-title text-shadow text-uppercase" th:text="${campinglist.cname}"></h6>
                  
                  <th:block th:switch="${campinglist.ctype}">
                      <th:block th:case=0>
	                    <p class="card-text text-sm" th:text="미지정"></p>
	                  </th:block>
	                  <th:block th:case=1>
	                    <p class="card-text text-sm" th:text="오토캠핑"></p>
	                  </th:block>
	                  <th:block th:case=2>
	                    <p class="card-text text-sm" th:text="백패킹"></p>
	                  </th:block>
	                  <th:block th:case=3>
	                    <p class="card-text text-sm" th:text="차박캠핑"></p>
	                  </th:block>
	                  <th:block th:case=4>
	                    <p class="card-text text-sm" th:text="미니멀캠핑"></p>
	                    </th:block>
	                  <th:block th:case=5>
	                    <p class="card-text text-sm" th:text="글램핑"></p>
					  </th:block>
				  </th:block>
                </div>
              </div>
            </div>
          <div class="swiper-pagination d-md-none"> </div>
        </div>
      </div>
    </section>

    <!-- 캠핑 리뷰-->
    <section class="py-6 bg-gray-100"> 
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-secondary">캠핑 스토리</p>
            <h2>캠핑 리뷰 둘러보기</h2>
          </div>
        </div>
        <div class="row">
          <!-- 리뷰-->
          <div class="col-lg-4 col-sm-6 mb-4 hover-animate" th:each="reviewlist : ${review}">
            <div class="card shadow border-0 h-100">
            	<a th:href="@{/review/camping-review(crid=${reviewlist.crid})}">
            		<img class="img-fluid card-img-top" th:src="@{${reviewlist.campinglist.cpm}}" style="height:17rem"/>
            	</a>
              <div class="card-body">
              	<th:block th:switch="${reviewlist.campinglist.ctype}">
                  <th:block th:case=0>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="미정"></p>
                    </a>
                  </th:block>
                  <th:block th:case=1>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="오토캠핑"></p>
                    </a>
                  </th:block>
                  <th:block th:case=2>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="백패킹"></p>
                    </a>
                  </th:block>
                  <th:block th:case=3>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="차박캠핑"></p>
                    </a>
                  </th:block>
                  <th:block th:case=4>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="미니멀캠핑"></p>
                    </a>
                    </th:block>
                  <th:block th:case=5>
                    <a th:href="@{/camping/camping-list(sortBy=${reviewlist.campinglist.ctype})}">
                    	<p class="text-uppercase text-muted text-sm letter-spacing-2" th:text="글램핑"></p>
                    </a>
				  </th:block>
				</th:block>
                <h5 class="my-2"><a class="text-dark" th:href="@{/review/camping-review(crid=${reviewlist.crid})}" th:text="${reviewlist.crname}"></a></h5>
                <p class="text-gray-500 text-sm my-3" th:text="${#dates.format(reviewlist.crcreatedate,'MM월 dd일, yyyy')}"><i class="far fa-clock me-2"></i></p>
                <p class="my-2 text-muted text-sm" th:text="${reviewlist.crcontent}"></p>
                <p class="my-2 text-muted text-sm" th:text="'별점 ' + ${reviewlist.crrating} + '점'"></p>
                <a class="btn btn-link ps-0" th:href="@{/review/camping-review(crid=${reviewlist.crid})}">전체 보기
                	<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--게시판-->
    <section class="py-6">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12" style="display:flex">
            <div class="itemdetail__widget-section">
              <div class="itemdetail__content-box">
                <div class="itemdetail__content-box__title">
                  <h3>공지사항</h3>
                  <a href="/board/camping-board?page=1" class="xet-btn btn-text btn-next">전체보기</a>
                </div>
                <div class="xet-code">
                  <div class="xe-widget-wrapper " style="">
                    <div style="*zoom:1;padding:0px 0px 0px 0px !important;">
    
                      <ul class="xetemplate-v5-list">
                        <li th:each="noticelist : ${notice}">
                          <a th:href="@{/board/camping-boardsingle(bid=${noticelist.bid})}" class="list__link">
                            <div class="list__link__subject">
                              <span class="icons">
                                <span class="icon-new"></span>
                              </span>
                              <span class="category">공지사항&nbsp;-&nbsp;</span>
                              <span class="subject" th:text="${noticelist.btitle}"></span>
    
                            </div>
                            <div class="list__link__date">
    
                              <span class="regdate" th:text="${#dates.format(noticelist.bcreatedate,'yyyy.MM.dd')}"></span>
                            </div>
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="itemdetail__content-box" style="margin-left:10rem">
              <div class="itemdetail__content-box__title">
                <h3>캠핑 QnA</h3>
                <a href="/board/camping-board?page=1&category=2" class="xet-btn btn-text btn-next">전체보기</a>
              </div>
              <div class="xet-code">
                <div class="xe-widget-wrapper " style="">
                  <div style="*zoom:1;padding:0px 0px 0px 0px !important;">
                    <div class="xetemplate-v5-skin">
                      <ul class="xetemplate-v5-list">
                        <li th:each="boardlist : ${board}">
                          <a th:href="@{/board/camping-boardsingle(bid=${boardlist.bid})}" class="list__link">
                            <div class="list__link__subject">
                              <span class="icons">
                                <span class="icon-new"></span>
                              </span>
                              <span class="category"></span>
                              <span class="subject" th:text="${boardlist.btitle}"></span>
    
                            </div>
                            <div class="list__link__date">
    
                              <span class="regdate" th:text="${#dates.format(boardlist.bcreatedate,'yyyy.MM.dd')}"></span>
                            </div>
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!--게시판-->




    <!-- 푸터-->
    	<th:block th:replace="~{common/footer :: footerFragment}"></th:block>
  	<!--푸터-->
    <!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>

  </body>
</html>